<Heading Size="HeadingSize.Is4">
    Add new
</Heading>

<Validation Validator="@ValidateTitle">
    <Field Horizontal="true">
        <FieldLabel ColumnSize="ColumnSize.Is1">Title</FieldLabel>
        <FieldBody ColumnSize="ColumnSize.Is5">
            <TextEdit @bind-Text="@newNutrientTitle">
                <Feedback>
                    <ValidationError>Nutrient title length should not exceed 32 cahracters</ValidationError>
                </Feedback>
            </TextEdit>
        </FieldBody>
    </Field>
    <Field Horizontal="true">
        <FieldLabel ColumnSize="ColumnSize.Is1"></FieldLabel>
        <FieldBody ColumnSize="ColumnSize.Is2">
           <Button Disabled="@IsAddButtonDisabled()"
                   Color="Color.Primary" 
                   Clicked="@(async () => await AddNutrientAsync())">Add</Button>
        </FieldBody>
    </Field>
</Validation>