@page "/nutrient/{NutrientId}"

<h3>Nutrient</h3>

@if (model != null)
{
<Validation Validator="@ValidateTitle">
    <Field Horizontal="true">
        <FieldLabel ColumnSize="ColumnSize.Is1">Title</FieldLabel>
        <FieldBody ColumnSize="ColumnSize.Is4">
            <TextEdit ColumnSize="ColumnSize.Is4" @bind-Text="@model.Title">
                <Feedback>
                    <ValidationError>Nutrient title should not be empty</ValidationError>
                    <ValidationError>Nutrient title length should not exceed 32 cahracters</ValidationError>
                </Feedback>
            </TextEdit>
        </FieldBody>
    </Field>
    <Button ColumnSize="ColumnSize.Is1"
                    Color="Color.Primary" 
                    Clicked="@(async () => await UpdateNutrientAsync())">Save</Button>
</Validation>
}