@page "/nutrient"
<h1>Nutrient</h1>

<Row >
    <Column ColumnSize="ColumnSize.Is6">
        <Table Hoverable="true" Narrow="true">
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>#</TableHeaderCell>
                    <TableHeaderCell>Title</TableHeaderCell>
                    <TableHeaderCell>Actions</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @if (model?.Items == null)
                {
                    <em>Loading...</em>
                }
                else
                {
                    var array = model.Items.ToArray();
        
                    for (var i = 0; i < array.Length; i++)
                    {
                        var current = array[i];
                        var index = (i + 1).ToString();
        
                        <TableRow>
                            <TableRowHeader>@index</TableRowHeader>
                            <TableRowCell 
                                class="clickable"
                                @onclick=@(e => OpenNutrientById(current.NutrientId))>@current.Title
                            </TableRowCell>
                            <TableRowCell>
                                <Button Color="Color.Danger"
                                        Size="ButtonSize.Small"
                                        Clicked="@(async () => await DeleteNutrientAsync(current.NutrientId))">
                                    <Icon Class="icon-small" Name="IconName.Delete"/>
                                </Button>
                            </TableRowCell>
                        </TableRow>
                    }
                }
            </TableBody>
        </Table>
    </Column>
</Row>
<Row >
    <Column ColumnSize="ColumnSize.Is6">
        <NewNutrient OnFinishedEditing="@(async _ => await RefreshAsync())"></NewNutrient>
    </Column>
</Row>


<style>
    .clickable
    {
        cursor: pointer;
    }
</style>